<html>

<head>
  <title>PDF Merge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  <style>
    .download {
      display: block;
      text-decoration: none;
      padding: 5px 10px;
      width: 99%;
      margin-top: 20px;
      text-align: center;
      background-color: green;
      color: white;
      border-radius: 15px;
    }
  </style>
</head>

<body>

  <!-- Select Page Size -->
  <div> 
    <form action="{{ url_for('handle_data') }}" method='POST'>
      <label for='page_size'> <h3> 1. Select Page Size </h3> </label>  
      <select name='page_size' onchange="this.form.submit()">  
          <option value="" selected disabled hidden>
            Choose here
          </option>
          <option value = "A4"> A4   
          </option>  
          <option value = "A5"> A5   
          </option>  
          <option value = "Legal"> Legal  
          </option>  
      </select> 
    </form>
    <h3 style="color: purple">Selected Page Size: {{page_size}}</h3>
  </div>
  
  <!-- Upload Files -->
  <div>
    <h3>2. Upload Here!</h3>
    <form action="{{ url_for('upload_files') }}" class="dropzone">
  </div>

  <!--  Merge Files -->
  <div>
    <!-- merge button -->
    <h3>3. Merge Files</h3>
    <a href={{url_for('merge_files')}}>Merge</a>
  </div>
  
  <div>
      <h3>4. Downlad File</h3>
      <a href={{url_for('download_file', name="merged.pdf" )}} class="download">Download</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
</body>

</html>